<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Play room</div>
                    <play-room :user="user" v-if="!game_finished" @game-finished="handleGameFinished"></play-room>
                    <div class="card-body" v-else>
                        <h1>Game finished!</h1>
                        <h2>{{ message }}</h2>
                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <button type="button"
                                            class="btn btn-info"
                                            @click="game_finished = false"
                                    >New game
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PlayRoom from "./PlayRoom";

    export default {
        props: ['user'],

        components: {
            PlayRoom
        },


        data() {
            return {
                'game_finished': false,
                'message': '',
            }
        },

        methods: {
            handleGameFinished(data) {
                this.game_finished = true;

                if (data.player_won.id === this.user.id) {
                    this.message = 'You won the game!';
                    return;
                }

                this.message = 'You lost';
            }
        }
    }
</script>
