<template>
    <div>
        <div class="card-body" v-if="!game_finished">
            <div class="card" v-if="!play && !game_started">
                <div class="card-body text-center">
                    <button type="button"
                            class="btn btn-primary"
                            @click="handlePlay"
                    >Play</button>
                </div>
            </div>
            <div class="row" v-if="play && (user !== null)">
                <div class="col-md-6">
                    <div class="card card-default">
                        <div class="card-header">Player: {{ user.name }}</div>

                        <div class="card-body">
                            <template v-if="can_start_game && !game_started">
                                <button type="button"
                                        :disabled="opponent === null"
                                        class="btn btn-success"
                                        @click="handleStartGame"
                                >
                                    Start
                                </button>
                            </template>

                            <template v-if="!game_started && !can_start_game">
                                Waiting for start...
                            </template>

                            <div class="container" v-if="show_next_move">
                                <h2>Choose an option</h2>
                                <template v-for="(option, index) in player_options">
                                    <button type="button"
                                            style="padding: 15px; margin: 15px;"
                                            class="btn btn-default"
                                            @click="handleNextMoveClick(option)"
                                    >{{ option }}</button>
                                </template>
                            </div>
                            <div v-else>
                                <ul v-if="last_player_move ">
                                    <li>Last number: {{ last_player_move.selected_number }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" v-if="opponent === null" >
                    <div class="card card-default">
                        <div class="card-header">Loading...</div>

                        <div class="card-body">
                            Waiting for opponent..
                        </div>
                    </div>
                </div>

                <div class="col-md-6" v-else >
                    <div class="card card-default">
                        <div class="card-header">Player: {{ opponent.name }}</div>

                        <div class="card-body" v-if="!game_started">
                            Hello buddy. Lets play!
                        </div>
                        <div v-else>
                            <ul v-if="last_opponent_move">
                                <li>Last number: {{ last_opponent_move.selected_number }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-if="game_moves.length > 0">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header">
                            Player moves
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Player</th>
                                    <th scope="col">Number</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(move, index) in game_moves">
                                    <th scope="row">{{ ++index }}</th>
                                    <td>{{ move.player.name }}</td>
                                    <td>{{ move.selected_number }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user'],

        data() {
            return {
                'play': false,
                'opponent': null,
                'echo': null,
                'channel': '',
                'game_data': null,
                'game_moves': [],
                'show_next_move': false,
                'player_options': [],
                'selected_next_move': null,
                'game_finished': false,
                'users': [],
                'game_started': false,
                'last_player_move': null,
                'last_opponent_move': null
            }
        },

        computed: {
          can_start_game () {
              return ((this.user !== null) && (this.game_data !== null) && (this.users.length < 2));
          },
        },

        methods: {
            handlePlay () {
                this.play = true;

                axios.get('/play').then(response => {
                    this.game_data = response.data.game_data;
                    this.channel = response.data.channel;
                    this.echo = Echo.join(this.channel)
                    .here(users => {
                        this.users = users;
                        if (users.length > 1) {
                            this.opponent = (users.filter(u => u.id !== this.user.id))[0];
                        }
                    })
                    .joining(user => {
                        this.opponent = user;
                    })
                    .leaving(user => {
                        this.users = this.users.filter(u => u.id !== user.id);

                        if (this.game_started) {
                            this.game_finished = true;

                            this.$emit('game-finished', {
                                player_won: this.user
                            });
                        }
                    })
                    .listen('GameStarted', this.handleGameMoves)
                    .listen('NextOptionSelected', this.handleGameMoves)
                    .listen('GameFinished', (event) => {
                        this.game_finished = true;

                        this.$emit('game-finished', {
                            player_won: event.data.player
                        });
                    });
                });
            },

            handleStartGame () {
                axios.post('/start', { game_id: this.game_data.id}).then(response => {});
            },

            handleNextMoveClick (selected_option) {
                const request_data = {
                    game_id: this.game_data.id,
                    selected_option
                };

                axios.post('/make-move', request_data).then(({data}) => {
                    if (data.success === false) {
                        alert(data.message);
                    }
                }).catch(error => {
                    alert("Technical problem");
                });
            },

            handleGameMoves (event) {
                this.game_started = true;
                this.game_moves.push(event.data);
                this.show_next_move = event.user.id !== this.user.id;
                this.player_options = event.data.player_options;

                if (this.show_next_move) {
                    this.last_opponent_move = event.data;
                } else {
                    this.last_player_move = event.data;
                }
            },
        }
    }
</script>
